# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.tmp

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE files
.vscode
.DS_Store
.idea

# Misc
*.fiber.gz
*.fasthttp.gz
*.pprof
*.workspace

# Dependencies
/vendor/
vendor/
vendor
/Godeps/