name: markdownlint

on:
  push:
    branches:
      - master
      - main
    paths:
      - "**.md"
  pull_request:
    paths:
      - "**.md"

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Repository
        uses: actions/checkout@v4

      - name: Run markdownlint-cli2
        uses: DavidAnson/markdownlint-cli2-action@v16
        with:
          globs: |
            **/*.md

      - name: Markdown link check
        uses: gaurav-nelson/github-action-markdown-link-check@v1
