name: Modernize Lint

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "**/*_msgp*.go"
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "**/*_msgp*.go"

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  modernize:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          # NOTE: Keep this in sync with the version from go.mod
          go-version: "1.25.x"
          cache: false

      - name: modernize
        run: go run golang.org/x/tools/gopls/internal/analysis/modernize/cmd/modernize@latest -test=false ./...
