name: Modernize Lint

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "**/*_msgp*.go"
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "**/*_msgp*.go"

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  modernize:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          # NOTE: Keep this in sync with the version from go.mod
          go-version: "1.25.x"
          cache: false

      - name: modernize
        run: go run golang.org/x/tools/gopls/internal/analysis/modernize/cmd/modernize@latest -test=false ./...
