name: Modernize Lint

on:
  push:
    branches:
      - main
    paths:
      - "**.go"
      - "!**/*_msgp*.go"
      - "go.mod"
      - "go.sum"
  pull_request:
    paths:
      - "**.go"
      - "!**/*_msgp*.go"
      - "go.mod"
      - "go.sum"

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  modernize:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0

      - uses: actions/setup-go@v6.0.0
        with:
          # NOTE: Keep this in sync with the version from go.mod
          go-version: "1.25.x"
          cache: false

      - name: modernize
        run: go run golang.org/x/tools/gopls/internal/analysis/modernize/cmd/modernize@latest -test=false ./...
