name: "Sync docs"

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "docs/**"
  release:
    types: [published]

jobs:
  sync-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 2

      - name: Setup Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "22.x"

      - name: Sync docs
        run: ./.github/scripts/sync_docs.sh
        env:
          EVENT: ${{ github.event_name }}
          TAG_NAME: ${{ github.ref_name }}
          TOKEN: ${{ secrets.DOC_SYNC_TOKEN }}
